.contact-link {
    font-size: 30px;
    color: black;
    background: white;
    border: 5px solid black;
    border-radius: 1rem;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    
    display: block;
    justify-content: center;
  }
  
  .form-container {
    color: black;
    background: white;
    border: 5px solid black;
    border-radius: 1rem;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    
    display: block;
    justify-content: center;
    text-align: center;
  }
  
  input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background: #d11d05;
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
  }
  
  label {
    display: block;
    margin-top: 1rem;
  }
  
  .message {
    background: green;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    width: 100px;
    display: block;
    margin: 50px auto;
  }
  
  .form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }
  