* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    background-color: orange;
}

.logo {
    width: 200px;
    height: 100px;
    position: relative;
    left: 50px;
}

.page-title {
   border: 5px solid black;
   text-align: center;
   padding: 10px;
   font-size: 40px;
}

.movie_pictures {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.images {
    height: 300px;
    border-radius: 10px;
    margin: 50px;
}

.checkout-image {
    border-radius: 10px;
    max-width: 400px;
}

.about_text {
    color: white;
    margin: 50px;
}

.about_container {
    text-align: center;
}

footer {
    background-color: orange;
    padding: 20px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socials li {
    margin: 10px 40px 0px 10px;
    font-size: 20px;
}

.socials li:hover {
    color: white;
}

.footer_bottom {
    text-align: center;
    padding-top: 40px;
}
